profiles:

    awesome:
        display: 1
        windowManager: exec awesome
        image: ghcr.io/qubesome/xorg:latest

        path: /awesome

        hostAccess:
            dbus: true
            camera: true
            microphone: true
            speakers: true
            
            varRunUser: true
            mime: true

            paths:
            - ${GITDIR}/shared/
            - ${GITDIR}/awesome/
            - ${HOME}/git/
            - ${HOME}/go/

            # Devices that can be used across its workloads.
            usbDevices:
            - YubiKey

        paths:
        - ${GITDIR}/shared/homedir/.local/share/applications:/home/xorg-user/.local/share/applications:ro
        - ${GITDIR}/shared/homedir/.local/share/pixmaps:/home/xorg-user/.local/share/pixmaps:ro
        - ${GITDIR}/awesome/homedir/.config/awesome:/home/xorg-user/.config/awesome
        - ${HOME}/Downloads:/data/Downloads

    i3:
        display: 2 # use different display IDs, to isolate X across profiles
        windowManager: exec i3
        image: ghcr.io/qubesome/xorg:latest

        path: /i3

        hostAccess:
            dbus: true
            camera: true
            microphone: true
            speakers: true
            
            varRunUser: true
            mime: true

            paths:
            - ${GITDIR}/shared/
            - ${GITDIR}/i3/
            - ${HOME}/git/
            - ${HOME}/go/

            # Devices that can be used across its workloads.
            usbDevices:
            - YubiKey

        paths:
        - ${GITDIR}/shared/homedir/.local/share/pixmaps:/home/xorg-user/.local/share/pixmaps:ro
        - ${GITDIR}/shared/homedir/.local/share/applications:/home/xorg-user/.local/share/applications:ro
        - ${GITDIR}/i3/homedir/.config:/home/xorg-user/.config
        - ${GITDIR}/i3/homedir/.local/share/fonts:/home/xorg-user/.local/share/fonts:ro
        - ${HOME}/Downloads:/data/Downloads
