[Desktop Entry]
Version=1.0
Name=Google Chrome
GenericName=Web Browser
Comment=Access the Internet
Exec=/bin/sh -c "/usr/local/bin/qubesome run chrome %U"
StartupNotify=true
Terminal=false
Icon=~/.local/share/pixmaps/chrome.png
Type=Application
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/bin/sh -c "/usr/local/bin/qubesome run chrome"

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/bin/sh -c "/usr/local/bin/qubesome run chrome --incognito"
