[Desktop Entry]
Name=cli
GenericName=Terminal
Comment=standard terminal emulator for the X window system
Exec=/bin/sh -c "/usr/local/bin/qubesome run cli"
Terminal=false
Type=Application
Encoding=UTF-8
Icon=Alacritty
Categories=System;TerminalEmulator;X-GNOME-Utilities;
Keywords=shell;prompt;command;commandline;cmd;
StartupWMClass=XTerm
